# Binarios y ejecutables
/bin/
/vendor/
*.exe
*.dll
*.so
*.dylib

# Archivos de respaldo y temporales
*~
*.bak
*.swp
.DS_Store

# Dependencias y módulos
/go.sum
/node_modules/
/yarn.lock
/package-lock.json

# Archivos generados por IDEs y editores de texto
.idea/
.vscode/

# Logs y registros
/logs/
/log.txt

# Archivos de configuración de entorno
.env

# Archivos de compilación y construcción

/dist/

# Otros archivos y directorios
.sass-cache/
.tmp/
.temp/
.cache/


# Archivos ignorados por defecto
/shelf/
/workspace.xml

# Solicitudes de cliente HTTP basadas en el editor
/httpRequests/

# Archivos ignorados del almacenamiento local de fuente de datos
/dataSources/
/dataSources.local.xml

__debug*
.history
*.txt